#ignore the .o files
*~
*.swp
*.pyc
/obj/*
/data/*
/results/*
/include/*.h~
/include/bbblib/*.o
/include/bbblib/*.c~
/include/lcmtypes/*.o
/include/lcmtypes/*.c
/include/lcmtypes/*.h
/include/lcmtypes/lcmtypes_c/*
/include/lcmtypes/lcmtypes_py/*
/include/lcmtypes/lcmtypes_java/*
/src/*.c~
/src/*.o
/bin/*
blocks/comms_driver.o
blocks/io/circular.o
blocks/io/comms.o
blocks/io/serial.o
include/bbblib/bbb_test_ADC
include/bbblib/bbb_test_GPIO
include/bbblib/bbb_test_I2C
include/bbblib/bbb_test_PWM
include/bbblib/libbbb.a
*.txt
!config.txt
#*
/src/#*
/include/bblib/#*
/include/#*
